@using DotA.WebEdit.Models;
@{
    Layout = null;
}

@model DynSingleView<Hero>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hero</title>
</head>
<body>
    @Html.ActionLink("Back to hero list", "Index")
    @using (Html.BeginForm("HeroUpdate", "Hero"))
    {

    <table border="1">
        <tr>
            <td>Image</td>
            <td>@*<img src="@Model.GetImage(Model.Item.ImgName)" alt="Image" />*@</td>
        </tr>
        @{
            foreach (var dv in Model.DisplayValues)
            {
                @:<tr><td>@dv.PropertyDisplayName</td><td>
                if (!dv.Editable)
                {
                    switch (dv.Type)
                    {
                        case DisplayValueType.Decimal:
                            @Html.DisplayFor(Model.GetExpression<decimal>(dv));
                            break;
                        case DisplayValueType.PickList_Multi:
                            @Html.ListBox("Item." + dv.PropertyName, dv.PicklistOptionsAsListItems(Model.Item))
                            break;
                        case DisplayValueType.PickList:
                            @Html.DropDownList("Item." + dv.PropertyName)
                            break;
                        default:
                            @Html.DisplayFor(Model.GetExpression<object>(dv));
                            break;
                    }

                }
                else
                {
                    switch (dv.Type)
                    {
                        case DisplayValueType.Decimal:
                        @Html.EditorFor(Model.GetExpression<decimal>(dv));
                            break;
                        case DisplayValueType.PickList_Multi:
                        @Html.DropDownList("Item." + dv.PropertyName, dv.PicklistOptionsAsListItems(Model.Item))
                            break;
                        case DisplayValueType.PickList:
                            //@Html.EnumDropDownListFor(Model.GetExpression<Enum>(dv));
                        @Html.DropDownList("Item." + dv.PropertyName, dv.PicklistOptionsAsListItems(Model.Item))
                            break;
                        case DisplayValueType.DecimalArray:
                        @Html.EditorFor(Model.GetExpression<decimal>(dv));
                            break;
                        default:
                            @Html.EditorFor(Model.GetExpression<object>(dv));
                            break;
                    }
                }
                @:</td></tr>
            }
        }
        <tr></tr>
    </table>


    @*@Html.ActionLink("Update", "Hero", "HeroUpdate", Model)*@
                <input type="submit" name="Update" />
            }
            @*}*@
    <h1>Abilities</h1>
    @{ 
        foreach(var ability in Model.Item.Abilities)
        {
            @Html.Partial("Ability", new DynSingleView<Ability>(ability))
        }
    }
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

</html>
