@using System;
@using System.Linq;
@using System.Reflection;

@model Enum
@using System.ComponentModel.DataAnnotations

@* Credits: http://odetocode.com/blogs/scott/archive/2012/09/04/working-with-enums-and-templates-in-asp-net-mvc.aspx *@

@{
    //This isn't used yet, but we'll want it when we start putting pretty display names on enum values
    Func<object, string> GetDisplayName = o =>
    {
        var result = null as string;
        var display = o.GetType()
                       .GetMember(o.ToString()).First()
                       .GetCustomAttributes(false)
                       .OfType<DisplayAttribute>()
                       .LastOrDefault();
        if (display != null)
        {
            result = display.GetName();
        }

        return result ?? o.ToString();
    };

    var values = Enum.GetValues(ViewData.ModelMetadata.ModelType).Cast<object>()
                     .Where(o => o.ToString().ToUpper() != "NONE")
                     .Select(v => new SelectListItem
                     {
                         Selected = Model.HasFlag((Enum)v),
                         Text = v.ToString(),
                         Value = ((int)v).ToString()
                     });

    //all this BS is because for some reason beyond my comprehension, multi-select
    //items can't have the Item. prefix but single-selects need them to function.
    //So this allows us to support iether.
    var name = ViewData["Name"]?.ToString(); //if this is blank the binding won't work
    var fullName = $"{ViewData["ModelPrefix"]?.ToString()}{name}";
    var nameArr = $"{name}[]";

    var flags = Model.GetType().GetCustomAttribute<FlagsAttribute>() != null;

    if (flags) //if this is a flag/multi-choice enum
    {
        <div class="chk-container">
            @foreach (var value in values)
            {
                string chk = value.Selected ? " checked" : "";
            <label>
                <input type="checkbox" name="@nameArr" value="@value.Value" @chk />
                @value.Text
            </label>
            }
        </div>
    }
    else  //if this is a single option enum, use a dropdown
    {
        <select name="@fullName" style="">

        @foreach (var value in values)
        {
            if (value.Selected)
            {
                <option value="@value.Value" selected="selected">@value.Text</option>
            }
            else
            {
                <option value="@value.Value">@value.Text</option>
            }
        }
        </select>
    }
}